.logo-container {
  position: absolute;
  top: 30px;
  left: 50px;
}

.logo {
  width: 200px;
  height: auto;
}

.filter-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.filter-container input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.filter-container input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.users-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 30px;
  padding: 16px;
}

@media (max-width: 1100px){
  .logo{
    display: none;
  }
}

.user-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.user-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.user-card-body img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card-title {
  font-size: 1.25em;
  margin: 0;
}

.user-card-subtitle {
  font-size: 1em;
  color: #777;
  margin: 8px 0;
}

.user-card-text {
  font-size: 0.9em;
  margin: 16px 0;
}

.user-card-text a {
  color: #007bff;
  text-decoration: none;
}

.logo{
  width: 200px;
}

.user-card-text a:hover {
  text-decoration: underline;
}

h6 {
  font-size: 1em;
  margin: 8px 0;
}

p {
  margin: 4px 0;
}

.footer{
  width: 100%;
  color: rgb(163, 163, 163);
  text-align: center;
  margin-top: 80px;
}